//=============未任何操作文字颜色(一级)
div.el-submenu__title {
  // color: #fff !important;
  font-weight: bold;
  font-size: 15px !important;
}

//未任何操作二级字体颜色
.el-menu-item {
  // color: #fff !important;
  font-weight: bold;
  font-size: 15px !important;
}

//下拉菜单颜色
.el-submenu__title i{
  color: #fff;
}

// ********table表格********************

div.el-table {
  td,
  th {
    //文本居中
    text-align: center;
  }

  //更改表头
  th {
    font-weight: bold;
    color: #344a5f;
  }

  //行文本
  td {
    font-size: 14px;
  }
}

//dialog 样式
.el-dialog__body {
  // padding: 10px !important;
  padding-left: 0px !important;
  padding-right: 40px !important;
}

.el-dialog__footer {
  // text-align: center !important;

  .el-button {
    // width: 150px !important;
  }
}

//重置form表单样式
.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
}

//这只是针对于正常的form框的大小
//还有下框 类跟这个不一样 还得单独设置
div.el-form-item {
  margin-bottom: 22px;
}

.el-tag {
  padding: 0 10px;
  line-height: 32px;
}
